.language{
    width: 91%;
    padding-left: 5%;
}

.text{
    width: 95%;
    padding-left: 5%;
}

.title{
    text-align: center;
    padding-bottom: 50px;
}

.field{
    background-color:#e8e9ea;
}

.footer{
    text-align: center;
}

.submit{
    width: 100px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

label{
    font-size: 13px;
    font-weight: 100;
    font-style: normal;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 1;
}

.logo{
    padding-top: 5%;
    padding-bottom: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
